<% provide(:title,"Chat") %>
<h1>Chat</h1>
<p/>
<div id="carousel-example-generic" class="carousel slide"
data-ride="carousel">
<ol class="carousel-indicators">
  <%= getCarouselExampleGeneric(14) %>
</ol>
<div class="carousel-inner" role="listbox">
  <div class="item active">
    <img data-src="holder.js/900x500/auto/#777:#555/text:First
    slide" alt="First slide [800x500]"
    src="http://placekitten.com/800/500"
    data-holder-rendered="true">
  </div>
  <div class="item">
    <img data-src="holder.js/900x500/auto/#666:#444/text:Second
    slide" alt="Second slide [900x400]"
    src="http://placekitten.com/900/400"
    data-holder-rendered="true">
  </div>
  <div class="item">
    <img data-src="holder.js/900x500/auto/#555:#333/text:Third
    slide" alt="Third slide [900x500]"
    src="http://placekitten.com/900/500"
    data-holder-rendered="true">
  </div>
  <div class="item">
    <img data-src="holder.js/900x500/auto/#555:#333/text:Four
    slide" alt="Fourth slide [950x500]"
    src="http://placekitten.com/950/500"
    data-holder-rendered="true">
  </div>
  <div class="item">
    <img data-src="holder.js/400x550/auto/#555:#333/text:Five
    slide" alt="Fifth slide [400x550]"
    src="http://placekitten.com/400/550"
    data-holder-rendered="true">
  </div>
  <div class="item">
    <img data-src="holder.js/900x500/auto/#555:#333/text:Six
    slide" alt="Sixth slide [930x560]"
    src="http://placekitten.com/930/560"
    data-holder-rendered="true">
  </div>
  <div class="item">
    <img data-src="holder.js/900x550/auto/#555:#333/text:Seven
    slide" alt="Seventh slide [900x550]"
    src="http://placekitten.com/900/550"
    data-holder-rendered="true">
  </div>
  <div class="item">
    <img data-src="holder.js/900x500/auto/#555:#333/text:eight
    slide" alt="eight slide [960x560]"
    src="http://placekitten.com/960/560"
    data-holder-rendered="true">
  </div>
  <div class="item">
    <img data-src="holder.js/900x500/auto/#555:#333/text:Nine
    slide" alt="Nith slide [1000x550]"
    src="http://placekitten.com/1000/550"
    data-holder-rendered="true">
  </div>
  <div class="item">
    <img data-src="holder.js/900x500/auto/#555:#333/text:Ten
    slide" alt="Tenth slide [1000x600]"
    src="http://placekitten.com/1000/600"
    data-holder-rendered="true">
  </div>
  <div class="item">
    <img data-src="holder.js/900x600/auto/#555:#333/text:ELe
    slide" alt="Ele slide [900x600]"
    src="kitten.png"
    data-holder-rendered="true">
  </div>
  <div class="item">
    <img data-src="holder.js/900x500/auto/#555:#333/text:12
    slide" alt="12 slide [1000x600]"
    src="http://placekitten.com/1100/400"
    data-holder-rendered="true">
  </div>
  <div class="item">
    <img data-src="holder.js/900x500/auto/#555:#333/text:13
    slide" alt="13 slide [900x500]"
    src="http://7-themes.com/data_images/out/43/6915850-cute-kitten-wallpaper-free.jpg"
    data-holder-rendered="true">
  </div>
  <div class="item">
    <img data-src="holder.js/900x500/auto/#555:#333/text:14
    slide" alt="14 slide [900x500]"
    src="http://7-themes.com/data_images/out/70/7012499-hanging-kitten.jpg"
    data-holder-rendered="true">
  </div>
</div>
<a class="left carousel-control"
href="#carousel-example-generic" role="button"
data-slide="prev">
<span class="glyphicon glyphicon-chevron-left"
aria-hidden="true"></span>
<span class="sr-only">Previous</span>
</a>
<a class="right carousel-control"
href="#carousel-example-generic" role="button"
data-slide="next">
<span class="glyphicon
glyphicon-chevron-right" aria-hidden="true"></span>
<span class="sr-only">Next</span>
</a>
</div>
