<% provide(:title, "Accueil") %>
<script type="text/javascript">
window.onload =  CountDownTimer('09/10/2015 10:1 AM', 'countdown');
</script>
<h1 class="h1">Countdown to paradise</h1>
<p id="countdown"/>
