<% provide(:title, "Accueil") %>
<%= javascript_include_tag "static_pages" %>
<script type="text/javascript">
CountDownTimer('06/13/2016 10:00 AM');
</script>
<h1>Countdown to paradise</h1>

<div class="clock">
</div>
</div>
