<% provide(:title, "Accueil") %>
<script type="text/javascript">
window.onload =  CountDownTimer('12/13/2015 10:00 PM', 'countdown');
</script>
<h1 class="h1">Countdown to paradise</h1>
<p id="countdown">
