<% provide(:title, "Accueil") %>
<%= javascript_include_tag "static_pages" %>
<% if logged_in? %>
<script type="text/javascript">
CountDownTimer('04/30/2016 04:00 PM');
</script>

<h1>Countdown to paradise</h1>

<div class="clock">
</div>
<% else %>
<h1>Welcome !</h1>

<div>
  Sign in to access all the features
</div>

<% end %>
</div>
