<% provide(:title, "Kitty") %>
<script type="text/javascript">
function kittygen(){
  $("#kitty").attr("src", "http://www.randomkittengenerator.com/cats/rotator.php?&a="+new Date().getTime());
}
</script>
<h1 class="h1">Kitten Generator</h1>
<a onclick="kittygen()" class='thumbnail'>
  <img id='kitty' alt='kitty!' src="http://www.randomkittengenerator.com/cats/rotator.php"></a>
