<% provide(:title,"Musique") %>
<h1>Musique</h1>
<div class="videos">
  <% @videos.each do |video| %>
  <%= getLinkedVideo(video) %>
  <%= link_to 'Remove', video_path(video), class: 'btn btn-danger admin',
  method: :delete %>
  <% end %>
</div>
