<% provide(:title,"Photos") %>
<script type="text/javascript">
window.onload = $( document ).ready( GoCarrousel);
</script>
<h1>Photos</h1>
<br />

<div class="carrousel">

	<% @photos.each do |photo| %>
	<div>
		<%= link_to image_tag(photo.image.url(:large)), photo.image.url%>
	</div>
	<% end %>
</div>
<br />
<div class="row">
	<div class="col-xs-6">
		<button type="button" class="btn btn-success btn-circle btn-lg" data-toggle="tooltip" data-placement="top" title="Upload Photos">
			<%= link_to 'new_photo', class: 'button alt' do %>
			<i class="glyphicon glyphicon-upload"></i>
			<% end %>
		</button>
	</div>
		<div class="col-xs-6">
			<button type="button" class="btn btn-danger btn-circle btn-lg" data-toggle="tooltip" data-placement="top" title="Remove Photos">
				<%= link_to 'delete_photo', class: 'button alt' do %>
				<i class="glyphicon glyphicon-remove"></i>
				<% end %>
			</button>
		</div>
	</div>
