@import "bootstrap-sprockets";
@import "bootstrap";
@import "slick";
@import "slick-theme";


.jumbotron h1, .jumbotron .h1{
  font-size: 40px;
}

.jumbotron{
  text-align: center;
}

.slick-slide img{
  display: inline;
}

td {
  vertical-align: top;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 6px 6px;
  font-size: 36.5px;
  line-height: 1.33;
  border-radius: 25px;
}
a.button:link
{
  color: #FFFFFF;
  text-decoration: none;
}
a.button:visited
{
  color: #FFFFFF;
  text-decoration: none;
}
/* forms */

.checkbox {
  
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}
#session_remember_me {
  width: auto;
  margin-left: 0;
}

$bginverse      : #00d27f;
$bgHighlight    : #333333;
$colinverse     : #ecf0f1;
$colHighlight   : #333333;
.navbar-default {
  background-color: $bginverse;
  border-color: $bgHighlight;
  .navbar-brand {
    color: $colinverse;
    &:hover, &:focus {
      color: $colHighlight;
    }
  }
  .navbar-text {
    color: $colinverse;
  }
  .navbar-nav {
    > li {
      > a {
        color: $colinverse;
        &:hover,  &:focus {
          color: $colHighlight;
        }
      }
    }
    > .active {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight;
      }
    }
    > .open {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: #64d6a9;;
      }
    }
  }
  .navbar-toggle {
    border-color: $bgHighlight;
    &:hover, &:focus {
      background-color: $bgHighlight;
    }
    .icon-bar {
      background-color: $colinverse;
    }
  }
  .navbar-collapse,
  .navbar-form {
    border-color: $colinverse;
  }
  .navbar-link {
    color: $colinverse;
    &:hover {
      color: $colHighlight;
    }
  }
}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu {
    > li > a {
      color: $colinverse;
      &:hover, &:focus {
        color: $colHighlight;
      }
    }
    > .active {
      > a, > a:hover, > a:focus, {
        color: $colHighlight;
        background-color: $bgHighlight;
      }
    }
  }
}

@media screen
and (min-device-width: 320px)
and (max-device-width: 640px)
and (-webkit-device-pixel-ratio: 2) {
  .navbar-default .navbar-nav .open .dropdown-menu {
    > li > a {
      color: $colinverse;
      &:hover, &:focus {
        color: $colHighlight;
      }
    }
    > .active {
      > a, > a:hover, > a:focus, {
        color: $colHighlight;
        background-color: $bgHighlight;
      }
    }
  }

}


/* header */
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #333333;
  text-decoration: none;
}

// Error field
#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}
.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}
